body {
	margin: 10;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #374151;
	font-size: 14px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	box-sizing: content-box;
	border: 1px solid #d1d5db;
	padding: 25px 20px;
	border-radius: 5px;
}

@media only screen and (min-width: 768px) {
	.container {
		width: 400px;
		margin: 0 auto;
	}
}
