server/.env
server/server
.git
.gitignore
README.md
ROADMAP.md
build
.env
data.db
web/app/node_modules
web/app/build
web/app/.vite
web/dashboard/node_modules
web/dashboard/build
web/dashboard/.vite
certs/
*.log
.DS_Store
