server/server
server/.env
data
web/app/node_modules
web/app/build
web/dashboard/node_modules
web/dashboard/build
build
.env
data.db
test.db
.DS_Store
.env.local
*.tar.gz
.vscode/
.yalc
yalc.lock
certs/
*-shm
*-wal
.idea
*.iml
node_modules/*